<!--  js 용량이 클수록 body 부분의 실행이 늦어지기 때문에 js는 body 하단에 위치  -->
<!--  bootstrap.js가 제이쿼리에 의존하기 때문에 제이쿼리가 먼저 호출되도록 순서 유의  -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<script src="/js/app/index.js"></script>
</body>
</html>